*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* header rules */
header{
    background-color: #255EE9;
    padding: 12px 10% 70px;
}

/* header nav rules */
header nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.logo{
    background-color: #fff;
    height: 35px;
    width:10%;
}

.option_list{
    width: 50%;
}

.option_list li{
    display: inline-block;
    width: calc( 100% / 5 - 20px);
    height: 35px;
    background-color: gray;
    list-style: none;
    margin: 0 8.4px;
}

header .login{
    background-color: lightgrey;
    width: 10%;
    height: 35px;
}

/* introduction rules */
header h1{
    background-color: gold;
    width: 50%;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
}

header p{
    background-color: #000;
    height: 150px;
    width: 70%;
    margin: 0 auto 10px;
}

/* main actions rules */
header .main_actions{
    display: flex;
    justify-content: space-around;
    width:50%;
    margin: auto;
}

.button{    
    padding: 30px 80px;
    border-radius: 30px;
}

header .download{
    background-color: #fff;
}

header .open{
    background-color: #000;
}
/* end header rules */

/* features rules */
main section{
    display: flex;
    justify-content: space-between;
    padding: 150px 20%
}

main .even{
    background-color: #F5F5F5;
}

section .img{
    width: 50%;
    background-color: #000;
    height: 350px;
}

section .text{
    width: 40%;
    background-color: brown;
    height: 350px;
}

section .text.order_neg{
    order: -1;
}

/* last setion rules */
.last_part{
    display: block;
    padding-bottom: 100px;
}

.last_part .center_text{
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: blanchedalmond;
    height: 200px;
}

#big_img{
    width: 100%;
    height: 400px;
    background-color: #000;
}

.last_part h4{
    width: 300px;
    height: 50px;
    margin: 80px auto 10px;
    background-color: #000;
}

.closing_button{
    background-color: #7289DA;
    margin: auto;
    padding: 25px;
    width: 140px;
    border-radius: 25px;
}
/* end main rules */

/* footer rules */
footer{
    background-color: #23272A;
    padding: 50px 10% 40px;
}

footer .flex-container{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #7289DA;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

footer #slogan_social{
    width: 200px;
    height: 200px;
    background-color: brown;
}

footer .flex-container ul{
    width: calc( ((100% - 200px) / 4) - 50px);
}

footer .flex-container ul li{
    list-style: none;
    background-color: #fff;
    height: 20px;
    width: 100%;
    border: 1px solid black;
}

.flex2{
    display: flex;
    justify-content: space-between;
}

.register{
    background-color: #7289DA;
    padding: 20px;
    width: 100px;
    border-radius: 20px;
}